{% extends 'base.html.twig' %}

{% block title %}{{ stl }} en 3D{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        * {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container" data-stl="{{ stl }}.stl"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/show') }}
{% endblock %}